body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header,  .footer  {
    font: Roboto;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}  
.logo {
    color: #f9faf8;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding:10px;
}
.footer {
    color: #f9faf8;
    font-size: 10px;
    font-weight: 10;
    padding:10px;
    display: flex;
    justify-content: space-around;
}
li {
    list-style-type: none;
    padding: 5px;
}

#calculator {
    background-color: rgba(0, 0, 0, 0.602);
    width: 320px;
}
#container {
    display: flex;
    justify-content: space-evenly;  
}

button {
    width: 50px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    margin: 3px;
}

#expression, #result {
        margin-right: 5px;
        margin-bottom: 2px;
        width: 230px;
        height: 30px;
        text-align: right;
}

#display {
    margin: 45px;
    margin-bottom: 5px;
    border-style : solid;
    width: 230px;
    height: 70px;
    background-color: beige;
}